<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New payload</h1>

  <%= render "form", payload: @payload %>
  <%= render 'shared/select' %>
  
</div>



<%= turbo_frame_tag 'tab_content' do %>
  <% if params[:tab] == 'textarea'  %>
    <%= render 'payloads/tab_textarea' %>
  <% end %>
  <% if params[:tab] == 'other'  %>
  Other
  <% end %>
<% end %>